# Rust build directories
/target/
/crates/*/target/
/bin/*/target/
/pkg/rust/*/target/
/pkg/rust/tests/*/target/
.idea
.run
.venv
.env
.ai/
**/dist/
**/node_modules/
.claude/
plan*.md
.publish-status-*