[package]
name = "reifydb"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
description = "A modern, real-time database with streaming and analytical capabilities"

[dependencies]
reifydb-auth = { workspace = true }
reifydb-catalog = { workspace = true }
reifydb-cdc = { workspace = true }
reifydb-core = { workspace = true }
reifydb-engine = { workspace = true }
reifydb-network = { workspace = true }
reifydb-store-transaction = { workspace = true }
reifydb-rql = { workspace = true }
reifydb-transaction = { workspace = true }
reifydb-type = { workspace = true }

reifydb-sub-api = { workspace = true }
reifydb-sub-admin = { workspace = true, optional = true }
reifydb-sub-flow = { workspace = true, optional = true }
reifydb-sub-logging = { workspace = true, optional = true }
reifydb-sub-server = { workspace = true, optional = true }
reifydb-sub-worker = { workspace = true }

libc = { workspace = true }

[features]
default = []

# Subsystem features
sub_admin = ["dep:reifydb-sub-admin"]
sub_flow = ["dep:reifydb-sub-flow"]
sub_logging = ["dep:reifydb-sub-logging"]
sub_server = ["dep:reifydb-sub-server"]


