[package]
name = "reifydb"
authors.workspace = true
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[features]
default = []
server = ["dep:prost", "dep:tokio", "dep:tokio-stream", "dep:tonic"]
client = ["dep:prost", "dep:tokio", "dep:tokio-stream", "dep:tonic"]
embedded = ["dep:tokio"]
embedded_blocking = []

[dependencies]
auth = { workspace = true }
base = { workspace = true }
engine = { workspace = true }
rql = { workspace = true }
store = { workspace = true }
transaction = { workspace = true }

prost = { workspace = true, optional = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"], optional = true }
tokio-stream = { workspace = true, optional = true }
tonic = { workspace = true, optional = true }

[build-dependencies]
tonic-build = { workspace = true }
