[package]
name = "cli"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[[bin]]
name = "reifydb-cli"
path = "src/main.rs"

[dependencies]
reifydb-client = { workspace = true }
clap = { version = "4.5", features = ["derive", "env"] }
rustyline = "14.0"
terminal_size = "0.4"

